controller/src/main/resources/xsd/Zone.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://uni.miskolc.ips.ilona.measurement/Zone"
           elementFormDefault="qualified">

    <xs:complexType name="Zone">
        <xs:sequence>
            <xs:element name="id" type="xs:string"/>
            <xs:element name="name" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>